@import "tailwindcss";

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.animate-fadeOut {
  animation: fadeOut 5s forwards;
}